<div class="card mt-4 me-5  cards" style="width: 280px; height: 350px;">
    <div>
      <a [routerLink]="'/view-product/'+(product.id)"><img style="height: 150px;" class="card-img-top w-100 image-products" [src]="product.img"></a>
      <div class="card-body">
        <h4 style="text-decoration: none;">{{product.title}}</h4>
        <h5>₹{{product.newPrice}}</h5>
        <h5><del>{{product. prevPrice}}</del></h5>
        <h5>{{product.category}}</h5>
        <!-- <div>
          <button class="btn btn-outline-warning" routerLink="/cart-page">ADD TO CART</button>
        </div> -->
      </div>
    </div>
  </div>