<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><img style="width: 50px; height: 50px;" src="../../../assets/images/shoe store logo - Made with PosterMyWall.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"  style="color: black;" routerLink="/allproduct">All Product</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"  routerLink="/men">Men</a></li>
            <li><a class="dropdown-item"  routerLink="/women">Women</a></li>
          </ul>
        </li>
      </ul>
      
      <div class="form">
        <a href="" routerLink="/signup" *ngIf="!onremove">SignUp</a>
        <a href="" routerLink="/login" *ngIf="!logout">Login</a>
        <a href="" routerLink="/login" *ngIf="logout">{{out}}</a>
        <a href="" routerLink="/cart-page" *ngIf="logout"><i class="fa-solid fa-cart-shopping"></i></a>
        <a href="" routerLink="/admin-login"><i class="fa-solid fa-user-tie"></i></a>
      </div>
    </div>
  </div>
</nav>